<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="frontInfo">
        <div class="Info">

        </div>
    </div>

    <header>
        <div class="title">
            <a href="#">LOGO</a>
        </div>
    </header>

    <main>
        <div class="rank">
            <ul>

                <!-- melon -->
                <li>
                    <p id="melon_date"></p>
                    <div class="ranking melon" id="melonDiv">
                        <img src="/static/img/logo/melon.png" alt="melon">
                        <hr>
                        <ul id="melonList">
                        </ul>
                    </div>
                    <div class="PrevNext">
                        <ul>
                            <li>
                                <button type="button" class="imageButton prev melon" id="melonPrev">
                                    <img src="/static/img/PrevBtn.png" alt="prev">
                                </button>
                            </li>
                            <li>
                                <button type="button" class="imageButton next" id="melonNext">
                                    <img src="/static/img/NextBtn.png" alt="prev">
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- musinsa -->
                <li>
                    <p id="musinsa_date"></p>
                    <div class="ranking musinsa" id="musinsaDiv">
                        <img src="/static/img/logo/musinsa.png" alt="musinsa">
                        <hr>
                        <ul id="musinsaList">
                        </ul>
                    </div>
                    <div class="PrevNext">
                        <ul>
                            <li>
                                <button type="button" class="imageButton prev" id="musinsaPrev">
                                    <img src="/static/img/PrevBtn.png" alt="prev">
                                </button>
                            </li>
                            <li>
                                <button type="button" class="imageButton next" id="musinsaNext">
                                    <img src="/static/img/NextBtn.png" alt="prev">
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- google play -->
                <li>
                    <p id="googleplay_date"></p>
                    <div class="ranking playstore" id="googleplayDiv">
                        <img src="/static/img/logo/playstore.png" alt="googleplay">
                        <hr>
                        <ul id="googleplayList">
                        </ul>
                    </div>
                    <div class="PrevNext">
                        <ul>
                            <li>
                                <button type="button" class="imageButton prev" id="googleplayPrev">
                                    <img src="/static/img/PrevBtn.png" alt="prev">
                                </button>
                            </li>
                            <li>
                                <button type="button" class="imageButton next" id="googleplayNext">
                                    <img src="/static/img/NextBtn.png" alt="prev">
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</body>

<!-- melon -->
<script>
    window.onload = getMelonUserData();

    let melonPage = 2
    let melonData


    function getMelonUserData() {
        fetch('/melonranking/get', {
            method: 'GET'
        })
            .then(res => res.json())
            .then(data => {
                melonData = data
                melonRankingArrangement(data)
            })
    }

    function melonRankingArrangement(data) {
        document.getElementById('melon_date').innerText = data[(melonPage).toString() + 'st'][0].date
        for (i = 0; i < data[(0).toString() + 'st'].length; i++) {
            const list = document.getElementById('melonList');
            list.insertAdjacentHTML('beforeend', `
                        <li>
                            <div>
                                <h3>${data[(melonPage).toString() + 'st'][i].rank}</h3>
                                <img src="${data[(melonPage).toString() + 'st'][i].img}" alt="Melon Ranking">
                                <div class="info">
                                    <h3 title='${data[(melonPage).toString() + 'st'][i].title}'>${data[(melonPage).toString() + 'st'][i].title}</h3>
                                    <hr>
                                    <h4>${data[(melonPage).toString() + 'st'][i].prod}</h4>
                                    <div class="like">
                                        <img src="/static/img/like.png" alt="Like Logo">
                                        <p>${data[(melonPage).toString() + 'st'][i].like}</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </li>
                    `)
        };
    }

    const melonPrevbutton = document.getElementById('melonPrev')
    const melonNextbutton = document.getElementById('melonNext')
    melonNextbutton.style.display = 'none'

    melonPrevbutton.addEventListener('click', (e) => {
        melonPage--
        if (melonPage == 0) {
            melonPrevbutton.style.display = 'none'
        }

        if (melonPage != 2) {
            melonNextbutton.style.display = 'block'
        }

        document.getElementById('melonList').remove()

        const melonList = document.createElement('ul')
        melonList.id = 'melonList'

        document.getElementById('melonDiv').appendChild(melonList)
        melonRankingArrangement(melonData);
        console.log(melonPage)
    })

    melonNextbutton.addEventListener('click', (e) => {
        melonPage++
        if (melonPage == 2) {
            melonNextbutton.style.display = 'none'
        }

        if (melonPage != 0) {
            melonPrevbutton.style.display = 'block'
        }

        document.getElementById('melonList').remove()

        const melonList = document.createElement('ul')
        melonList.id = 'melonList'

        document.getElementById('melonDiv').appendChild(melonList)
        melonRankingArrangement(melonData);
        console.log(melonPage)
    })
</script>

<!-- musinsa -->
<script>
    window.onload = getMusinsaUserData();

    let musinsaPage = 2
    let musinsaData

    function getMusinsaUserData() {
        fetch('/musinsaranking/get', {
            method: 'GET'
        })
            .then(res => res.json())
            .then(data => {
                musinsaData = data
                musinsaRankingArrangement(data)
            })
    }

    function musinsaRankingArrangement(data) {
        document.getElementById('musinsa_date').innerText = data[(musinsaPage).toString() + 'st'][0][0].날짜
        for (i = 0; i < data[(0).toString() + 'st'].length; i++) {
            const list = document.getElementById('musinsaList');
            list.insertAdjacentHTML('beforeend', `
                        <li>
                            <div>
                                <h3>${data[(musinsaPage).toString() + 'st'][i][0].순위}</h3>
                                <img src="${data[(musinsaPage).toString() + 'st'][i][0].옷사진}">
                                <div class="info">
                                    <h3 title='${data[(musinsaPage).toString() + 'st'][i][0].옷이름}'>${data[(musinsaPage).toString() + 'st'][i][0].옷이름}</h3>
                                    <hr>
                                    <h4>${data[(musinsaPage).toString() + 'st'][i][0].브랜드}</h4>
                                    <div class="coin">
                                        <img src="/static/img/won.png"Coin Logo">
                                        <p>${data[(musinsaPage).toString() + 'st'][i][0].가격}</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </li>
                    `)
        };
    }

    const musinsaPrevbutton = document.getElementById('musinsaPrev')
    const musinsaNextbutton = document.getElementById('musinsaNext')
    musinsaNextbutton.style.display = 'none'

    musinsaPrevbutton.addEventListener('click', (e) => {
        musinsaPage--
        if (musinsaPage == 0) {
            musinsaPrevbutton.style.display = 'none'
        }

        if (musinsaPage != 2) {
            musinsaNextbutton.style.display = 'block'
        }

        document.getElementById('musinsaList').remove()

        const musinsaList = document.createElement('ul')
        musinsaList.id = 'musinsaList'

        document.getElementById('musinsaDiv').appendChild(musinsaList)
        musinsaRankingArrangement(musinsaData);
        console.log(musinsaPage)
    })

    musinsaNextbutton.addEventListener('click', (e) => {
        musinsaPage++
        if (musinsaPage == 2) {
            musinsaNextbutton.style.display = 'none'
        }

        if (musinsaPage != 0) {
            musinsaPrevbutton.style.display = 'block'
        }

        document.getElementById('musinsaList').remove()

        const musinsaList = document.createElement('ul')
        musinsaList.id = 'musinsaList'

        document.getElementById('musinsaDiv').appendChild(musinsaList)
        musinsaRankingArrangement(musinsaData);
        console.log(musinsaPage)
    })

</script>

<!-- google play -->
<script>
    window.onload = getgoogleplayUserData();

    let googleplayPage = 2
    let googleplayData

    function getgoogleplayUserData() {
        fetch('/googleplayranking/get', {
            method: 'GET'
        })
            .then(res => res.json())
            .then(data => {
                googleplayData = data
                googleplayRankingArrangement(data)
            })
    }

    function googleplayRankingArrangement(data) {
        document.getElementById('googleplay_date').innerText = data[(googleplayPage).toString() + 'st'][0][0].날짜
        for (i = 0; i < data[(0).toString() + 'st'].length; i++) {
            const list = document.getElementById('googleplayList');
            list.insertAdjacentHTML('beforeend', `
                    <li>
                        <div>
                            <h3>${data[(googleplayPage).toString() + 'st'][i][0].순위}</h3>
                            <img src="${data[(googleplayPage).toString() + 'st'][i][0].앱로고}">
                            <div class="info">
                                <h3 title='${data[(googleplayPage).toString() + 'st'][i][0].앱이름}'>${data[(googleplayPage).toString() + 'st'][i][0].앱이름}</h3>
                                <hr>
                                <h4>평점 : ${data[(googleplayPage).toString() + 'st'][i][0].평점}</h4>
                                <div class="down">
                                    <img src="/static/img/down.png" alt="Down Logo">
                                    <p>${data[(googleplayPage).toString() + 'st'][i][0].다운로드수}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </li>
                `)
        };
    }

    const googleplayPrevbutton = document.getElementById('googleplayPrev')
    const googleplayNextbutton = document.getElementById('googleplayNext')
    googleplayNextbutton.style.display = 'none'

    googleplayPrevbutton.addEventListener('click', (e) => {
        googleplayPage--
        if (googleplayPage == 0) {
            googleplayPrevbutton.style.display = 'none'
        }

        if (googleplayPage != 2) {
            googleplayNextbutton.style.display = 'block'
        }

        document.getElementById('googleplayList').remove()

        const googleplayList = document.createElement('ul')
        googleplayList.id = 'googleplayList'

        document.getElementById('googleplayDiv').appendChild(googleplayList)
        googleplayRankingArrangement(googleplayData);
        console.log(googleplayPage)
    })

    googleplayNextbutton.addEventListener('click', (e) => {
        googleplayPage++
        if (googleplayPage == 2) {
            googleplayNextbutton.style.display = 'none'
        }

        if (googleplayPage != 0) {
            googleplayPrevbutton.style.display = 'block'
        }

        document.getElementById('googleplayList').remove()

        const googleplayList = document.createElement('ul')
        googleplayList.id = 'googleplayList'

        document.getElementById('googleplayDiv').appendChild(googleplayList)
        googleplayRankingArrangement(googleplayData);
        console.log(googleplayPage)
    })
</script>

</html>