<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>MUSINSA</h1>
    <ul id="acutionList"></ul>
</body>
<script>
    window.onload = getUserData();

    function getUserData() {
        fetch('/musinsaranking/get', {
            method: 'GET'
        })
            .then(res => res.json())
            .then(data => { musinsaRankingArrangement(data) })
    }

    function musinsaRankingArrangement(data) {
        for (j = 0; j < 3; j++) {
            for (i = 0; i < data[(0).toString() + 'st'].length; i++) {
                const list = document.getElementById('acutionList');
                list.insertAdjacentHTML('beforeend', `
                            <li class='auctionRow'>
                                <p class='auctionPrice'>브랜드 : ${data[(j).toString() + 'st'][i][0].브랜드}</p>
                                <p class='auctionID'>옷이름 : ${data[(j).toString() + 'st'][i][0].옷이름}></p>
                                <img src='${data[(j).toString() + 'st'][i][0].옷사진}' class='auctionAddress'></img>
                                <div><button onclick="location='${data[(j).toString() + 'st'][i][0].제품링크}'" class='auctionPrice'>링크</button></div>
                                <p class='auctionPrice'>가격 : ${data[(j).toString() + 'st'][i][0].가격}</p>
                            </li>
                        `)
            };
        }
    }

</script>

</html>